.App {
  text-align: center;
  background-color: #7F7B82;
  height: 100vh;
}
.App h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  margin-top: 0;
}

.title {
  font-size: 4vw;
  padding-top: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#display{
  background-color: #7F7B82;
  margin-bottom: 0;
}
#header{
  background-color: #444554;
}