.App {
  text-align: center;
}
.App h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 0;
}

.title {
  font-size: 4vw;
  padding-top: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.packages {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
}
.packages h1 {
  border-bottom: 6px white solid;
  font-size: 5vh;
}

.packages ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.packages li {
  font-size: 25px;
  margin: 20px;
}